/*

font-family: 'Lato', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

.pre-order {
  font-family: 'Nunito', sans-serif;
  font-weight:  400;
}

.links {
  color:#e11900;
  text-decoration:none;
  font-family: 'Nunito', sans-serif;
  font-weight:  900;
}

.links:hover {
  color:#ff7b00;
  text-decoration:none;
}

.social-media {
  color:white;
  text-decoration:none;
  font-family: 'Nunito', sans-serif;
  font-weight:  600;
}

.social-media:hover {
  color:#e11900;
  text-decoration:none;
}

.bigg {
  font-size:20px;
  font-family: 'Nunito', sans-serif;
  font-weight:  900;
}

.video-names {
  font-family:, sans-serif;
  font-family: 'Nunito', sans-serif;
  font-weight:  400;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-weight:  800;
}

h2 {
  color:white;
  font-family:'Open Sans', sans-serif;
  font-weight:700;
}

h3 {
  font-family:'Open Sans', sans-serif;
  font-weight:700;
}
